<%- include("partials/header", {
    backImage: image,
    active: active
}); -%>

<main>
    <div class="dest-main-container">
        <div class="dest-title"><span class="dest-number">01</span>pick your destination</div>
        <img class="dest-image" src="images/destination/image-<%= dest %>.webp">
        <div class="dest-name"><%= dest %></div>
    </div>
</main>