
<%- include("partials/header", {
    backImage: image,
    active: active
}); -%>

    <main>
        <div class="home-main-container secondary">
            <div class="home-lead-in barlow-condensed regular caps">so, you want to go to</div>
            <div class="home-title bellefair caps primary">space</div>
            <div class="home-explain barlow regular">And you mean really go to space, right? Not just hovering around the edge bit! Well
                you've come to the right place. When you're ready, dive in for a truly out of this world experience!
            </div>
            <div class="explore-button-container">
                <a class="explore-button bellefair caps dark" href="/destination/moon">explore</a>
            </div>
        </div>
    </main>
</body>

<%- include('partials/footer') %>