* {
    box-sizing: border-box;
}

html {
    font-size: 1.1vw;
}

/* Body and background images */

body {
    position: relative;
    height: 100vh;
    background-color: #000;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
    font-size: 1rem;
    letter-spacing: 0.17rem;
}

.home-background {
    background-image: url("../images/home/background-home-desktop.jpg");
}

.destination-background {
    background-image: url("../images/destination/background-destination-desktop.jpg");
}

.crew-background {
    background-image: url("../images/crew/background-crew-desktop.jpg");
}

.technology-background {
    background-image: url("../images/technology/background-technology-desktop.jpg");
}

/* Typography */

.barlow {font-family: 'Barlow', sans-serif;}
.barlow-condensed {font-family: 'Barlow Condensed', sans-serif;}
.bellefair {font-family: 'Bellefair', serif;}
.light {font-weight: 100;}
.bold {font-weight: 700;}
.regular {font-weight: 300;}
.caps {text-transform: uppercase;}
.primary {color: #FFF;}
.secondary {color: #D0D6F9;}
.dark {color: #000;}

/* Navigation bar */

.logo-container,
.nav-container {
    display: inline-block;
    position: absolute;
    height: 10vh;
    margin-top: 3rem;
}

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    width: 42vw;
    margin-left: 5vw;
    z-index: 2;
}

.logo-line {
    display: inline-block;
    position: absolute;
    right: 0;
    width: 35vw;
    border-bottom: 0.5px solid #979797;
}

.logo {
    position: absolute;
    left: 0;
}

.nav-container {
    right: 0;
    width: 55vw;
    background-color: rgba(255, 255, 255, .05);
    backdrop-filter: blur(30px);
    z-index: 1;
}

.nav {
    margin-left: 10%;
    height: 100%;
}

.home-active #home,
.destination-active #dest,
.crew-active #crew,
.technology-active #tech {
    border-bottom: 3px solid white;
}

.nav-item {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    margin-right: 2.2rem;
}

.nav-text {
    height: 58%;
    margin-bottom: 3px;
    border-bottom: 3px transparent;
    transition-duration: 0.3s;
}

.nav-text:hover {
    transition-duration: 0.3s;
    cursor: pointer;
    border-bottom: 3px solid #979797;
}

.nav-number {
    margin-right: 0.75rem;
}

/* Home page content */

.home-main-container {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 12% 30% 34%;
    row-gap: 12%;
    position: absolute;
    bottom: 10vh;
    left: 12vw;
    width: 76vw;
    height: 50vh;
}

.home-lead-in, .home-title, .home-explain {
    grid-column: 1;
}

.home-lead-in {
    grid-row: 1;
    font-size: 1.75rem;
    letter-spacing: 0.3rem;
}

.home-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-row: 2;
    font-size: 9.3rem;
}

.home-explain {
    font-size: 1.125rem;
    line-height: 2rem;
}

.explore-button-container {
    grid-column: 2;
    grid-row: 2 / span 2;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.explore-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    letter-spacing: 0.125rem;
    background-color: #fff;
    border-radius: 100%;
    height: 20vw;
    width: 20vw;
    margin-bottom: 2rem;
    transition-duration: 0.5s;
    box-shadow: none;
}

.explore-button:hover {
    cursor: pointer;
    transition-duration: 0.5s;
    box-shadow: 0 0 0 5rem rgba(255, 255, 255, .1);
}

/* Destination pages content */

.dest-main-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80vw;
    height: 65vh;
    margin: 0 10vw 10vh 10vw;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 18% 10% 25% 33% 18%;
    color: #FFF;
}

.dest-title {
    display: flex;
    align-items: flex-start;
    grid-column: 1;
    grid-row: 1;
    font-size: 1.75rem;
    letter-spacing: 0.3rem;
}

.dest-number {
    font-weight: 700;
    opacity: 25%;
    margin-right: 1.5rem;
}

.dest-image {
    height: 80%;
    grid-column: 1;
    grid-row: 3 / span 3;
    margin-left: 5vw;
}

.dest-name {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    font-size: 6.25rem;
    grid-column: 2;
    grid-row: 3;
    margin-left: 10vw;
}

.dest-nav {
    display: flex;
    align-items: flex-end;
    margin-left: 10vw;
    grid-column: 2;
    grid-row: 2;
    height: 100%;
}

.dest-nav-item {
    height: 65%;
    margin-bottom: 3px;
    border-bottom: 3px transparent;
    margin-right: 2rem;
    color: #D0D6F9;
}

.dest-nav-item:hover {
    transition-duration: 0.3s;
    border-bottom: 3px solid #979797;
}

.dest-description {
    margin-left: 10vw;
    margin-top: 1.5rem;
    grid-column: 2;
    grid-row: 4;
    font-size: 1.125rem;
    color: #D0D6F9;
    line-height: 2rem;
}

.active-moon-dest #moon,
.active-mars-dest #mars,
.active-titan-dest #titan,
.active-europa-dest #europa {
    color: #FFF;
    border-bottom: 3px solid #FFF;
}

.dest-stats {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40% 60%;
    grid-column: 2;
    grid-row: 5;
    border-top: 1px solid grey;
    margin-left: 10vw;
}

.dest-stats-distance-text,
.dest-stats-distance-value {
    grid-column: 1;
}

.dest-stats-travel-text,
.dest-stats-travel-value {
    grid-column: 2;
}

.dest-stats-distance-text,
.dest-stats-travel-text {
    display: flex;
    align-items: flex-end;
    grid-row: 1;
    font-size: 0.875rem;
    letter-spacing: 0.15rem;
    color: #D0D6F9;
}

.dest-stats-distance-value,
.dest-stats-travel-value {
    display: flex;
    align-items: center;
    grid-row: 2;
    font-size: 1.75rem;
    color: #FFF;
}

/* Crew pages ::content */

.crew-main-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60vw;
    height: 65vh;
    margin: 0 0 10vh 10vw;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30% 10% 15% 30% 15%;
    color: #FFF;

}

.crew-image {
    position: absolute;
    bottom: 0;
    left: 55vw;
}

.crew-title {
    display: flex;
    align-items: flex-start;
    grid-column: 1;
    grid-row: 1;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.75rem;
    font-weight: 300;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

.crew-number {
    font-weight: 700;
    opacity: 25%;
    margin-right: 1.5rem;
}

.crew-role {
    grid-row: 2;
    font-family: 'Bellefair', serif;
    font-size: 2rem;
    font-weight: 300;
    color: #FFF;
    opacity: 50%;
    text-transform: uppercase;
}

.crew-name {
    grid-row: 3;
    font-family: 'Bellefair', serif;
    font-size: 3.5rem;
    color: #FFF;
    font-weight: 300;
    text-transform: uppercase;
}

.crew-bio {
    width: 30vw;
    grid-row: 4;
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    font-size: 1.125rem;
    color: #D0D6F9;
    line-height: 2rem;
}

.crew-slider {
    grid-row: 5;
    display: flex;
    align-items: flex-end;
}

.crew-slider-selector {
    width: 1rem;
    margin-right: 2rem;
}

.crew-slider-selector svg:hover circle {
    fill: #FFF;
    opacity: 50%;
    transition-duration: 0.3s;
}

.active-0-crew #doug,
.active-1-crew #mark,
.active-2-crew #vic,
.active-3-crew #anou {
    opacity: 100%;
}

/* Technology pages content */

.tech-main-container {
    display: grid;
    grid-template-rows: 28% 72%;
    grid-template-columns: 100%;
    height: 65vh;
    width: 44vw;
    position: absolute;
    bottom: 10vh;
    left: 10vw;
    color: #FFF;
}

.tech-title {
    display: flex;
    align-items: flex-start;
    grid-column: 1;
    grid-row: 1;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.75rem;
    font-weight: 300;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

.tech-number {
    font-weight: 700;
    opacity: 25%;
    margin-right: 1.5rem;
}

.tech-sub-container {
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-columns: 12.65% 75%;
    column-gap: 12.35%;
    grid-template-rows: 100%;
}

.tech-slider {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-rows: 19% 19% 19% 19%;
    row-gap: 8%;
    grid-template-columns: 100%;
}

.tech-slider-number {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 100%;
    width: 100%;
    aspect-ratio: 1 / 1;
    font-family: 'Bellefair', serif;
    font-size: 2rem;
}

.tech-slider-number:hover {
    border: 1px solid rgba(255, 255, 255, 1);
    transition-duration: 0.3s;
}

#number1 {
    grid-row: 1;
}

#number2 {
    grid-row: 2;
}

#number3 {
    grid-row: 3;
}

.tech-content-container {
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-rows: 7% 15.5% 73.5%;
    row-gap: 2%;
    grid-template-columns: 100%;
}

.tech-content-title {
    display: flex;
    align-items: flex-start;
    grid-row: 1;
    grid-column: 1;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.17rem;
    text-transform: uppercase;
    color: #D0D6F9;
}

.tech-content-name {
    font-family: 'Bellefair', serif;
    font-size: 3.5rem;
    color: #FFF;
    text-transform: uppercase;
    display: flex; 
    align-items: center;
}

.tech-content-description {
    font-family: 'Barlow', sans-serif;
    font-size: 1.125rem;
    color: #D0D6F9;
    line-height: 2rem;
    padding-right: 7%;
}

#tech-portrait-image {
    position: absolute;
    right: 0;
    bottom: 10vh;
}

#tech-landscape-image {
    display: none;
}

#tablet-slider {
    display: none;
}

.active-0-tech #number1,
.active-1-tech #number2,
.active-2-tech #number3 {
    border: 1px solid #FFF;
    background-color: #FFF;
    color: #000;
}
